<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BF2GamespyRedirector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <BF2GamespyRedirector.Properties.Settings>
            <setting name="SettingsUpdated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Bf2InstallDir" serializeAs="String">
                <value />
            </setting>
            <setting name="RedirectMode" serializeAs="String">
                <value>HostsIcsFile</value>
            </setting>
            <setting name="LastUsedProvider" serializeAs="String">
                <value />
            </setting>
            <setting name="RedirectRemoveMethod" serializeAs="String">
                <value>OnGameClose</value>
            </setting>
            <setting name="LaunchParams" serializeAs="String">
                <value />
            </setting>
            <setting name="PromptCredentials" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
        </BF2GamespyRedirector.Properties.Settings>
    </userSettings>
</configuration>